@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Press+Start+2P&display=swap');

@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
    --font-primary: 'Inter', "sans-serif";
    --font-game: 'Press Start 2P', "monospace";
}

.highlight{
    color: #16a34a;
    background-color: transparent;
    font-weight: 500;
}

.highlightDark{
    color: #4ade80;
    background-color: transparent;
    font-weight: 500;
}

section {
    scroll-margin-top: 120px;
}
